/* 卡片边距 */
.sf-card-margin {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* 卡片按钮边距 */
.sf-card-button-margin {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
/* footer copyright */
.sf-footer-copyright {
  padding-left: 15px;
  padding-right: 15px;
}
/* article download */
.sf-article-download {
  padding: 20px;
  text-align: center;
}