/* 卡片边距 */
.sf-card-margin {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* 卡片按钮边距 */
.sf-card-button-margin {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
/* footer copyright */
.sf-footer-copyright {
  padding-left: 15px;
  padding-right: 15px;
}
/* article download */
.sf-article-download {
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
/* article list */
.sf-article-list {
  padding-bottom: 30px;
}